@import "tailwindcss";

@theme {
  --animate-shake: shake 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;

  @keyframes shake {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(1deg); }
    75% { transform: rotate(-1deg); }
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
